[Desktop Entry]
Categories=Utility
Comment[en_GB]=Modern Note taking application
Comment=Modern Note taking application
Comment[en_US.UTF-8]=Modern Note taking application
Comment[en_US]=Modern Note taking application
Exec=/usr/bin/minote
GenericName[en_GB]=
GenericName=
Hidden=false
Icon=/usr/share/pixmaps/minote.svg
MimeType=
Name[en_GB]=Minote
Name=Scribe
Name[en_US.UTF-8]=Minote
Name[en_US]=Minote
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
